<table>
    <h3><%= User.fullName %>さんのプロフィール</h3>
    <div class="icon">

    </div>
    <div class="name">
        <label for="name">名前</label>
        <p><%= User.fullName %></p>
    </div>
    <div class="email">
        <label for="email">メールアドレス</label>
        <p><%= User.email %></p>
    </div>
    
    <div class="intro">
        <label for="intro">ひとこと</label>
        <p><%= User.profile.intro %></p>
    </div>
    <div class="prefecture">
        <label for="prefecture">都道府県</label>
        <p><%= User.profile.prefecture %></p>
    </div>
    <div class="age">
        <label for="age">年齢</label>
        <p><%= User.age %></p>
    </div>
    <div class="birthday">
        <label for="birthday">誕生日</label>
        <p><%= User.profile.birthday %></p>
    </div>
    <div class="belongings">
        <label for="belongings">所属</label>
        <p><%= User.profile.belongings %></p>
    </div>
</table>