<table>
    <h3><%= currentUser.fullName %>さんのプロフィール詳細</h3>
    <div class="intro">
        <label for="intro">ひとこと</label>
        <p><%= currentUser.profile.intro %></p>
    </div>
    <div class="prefecture">
        <label for="prefecture">都道府県</label>
        <p><%= currentUser.profile.prefecture %></p>
    </div>
    <div class="address">
        <label for="address">住所</label>
        <p><%= currentUser.profile.address %></p>
    </div>
    <div class="birthday">
        <label for="birthday">誕生日</label>
        <p><%= currentUser.profile.birthday %></p>
    </div>
    <div class="belongings">
        <label for="belongings">所属</label>
        <p><%= currentUser.profile.belongings %></p>
    </div>
</table>