<div class="chat-header">
    <h3>チャンネル名 : <%= channel.channelName %></h3>
    <p>チャンネル詳細 : <%= channel.channelDetail %></p>
    <p>チャンネル作成者 : <%= channel.createdBy %></p>
</div>

<div class="chat-saving">
    <% for(var i=0;i<channel.chatData.length;i++) { %>
        <div class="chatData">
            <p><%= channel.chatData[i].date %></p>
            <% for(var j=0;j<channel.chatData[i].messages.length;j++) { %>
                <div class="chat-devider">
                    <div class="db-message">
                        <a href="/users/<%= channel.chatData[i].messages[j].userId %>"><%= channel.chatData[i].messages[j].username %></a>
                        <p><%= channel.chatData[i].messages[j].time %></p>
                        <p><%= channel.chatData[i].messages[j].text %></p>
                        <input class="msgId" type="hidden" value="<%= channel.chatData[i].messages[j].customId %>">
                    </div>

                    <div class="selfMsgResponser">
                        <div class="response">
                            <button>👍</button>
                            <button>👎</button>
                        </div>
                        <input type="button" class="replyMsg" value="返信">
                        <input type="button" class="updateMsg" value="メッセージの編集">
                        <input type="button" class="deleteMsg" value="送信取消">
                    </div>
                    
                    <div class="msgResponser">
                        <div class="response">
                            <button>👍</button>
                            <button>👎</button>
                        </div>
                        <input type="button" class="replyMsg" value="返信">
                    </div> 
                    <div class="updateForm">
                        <textarea cols="30" rows="3"></textarea> <!-- valueについては、後になってから設定する -->
                        <input type="submit" value="キャンセル">
                        <input type="submit" value="変更を保存する">
                    </div>       
                </div>
            <% } %>
        </div>
    <% } %> 
</div>


<div id="chat">
    <div class="chatDate">
        <p class="dateEmitter"></p> <!-- ここに1日一度のみ出力をさせる（リロードしたら消えるように設定する・つまりsocketからの出力） -->
    </div>
    <div class="socket-saving">
        <div class="socket-message">
            <a href="#" class="socketUser"></a>
            <p class="socketTime"></p>
            <p class="socketMsg"></p>
            <input type="hidden" class="customId" value="">
        </div>
        <div class="selfMsgResponser">
            <div class="response">
                <button>👍</button>
                <button>👎</button>
            </div>
            <input type="button" class="replyMsg" value="返信">
            <input type="button" class="updateMsg" value="メッセージの編集">
            <input type="button" class="deleteMsg" value="送信取消">
        </div>
        <div class="msgResponser">
            <div class="response">
                <button>👍</button>
                <button>👎</button>
            </div>
            <input type="button" class="replyMsg" value="返信">
        </div>
        <div class="updateForm">
            <textarea id="toUpdate" cols="30" rows="3"></textarea> <!-- valueについては、後になってから設定する -->
            <input type="submit" value="キャンセル">
            <input type="submit" value="変更を保存する">
        </div>
    </div>
</div>

<!-- <div id="deleteForm">
    <h3>メッセージを削除する</h3>
    <p>このメッセージを本当に削除しますか？削除後は元に戻すことはできません。</p>
    <div class="deleteData">
        <a></a>
        <a></a>
        <p></p>
    </div>
    <input type="submit" value="キャンセル">
    <input type="submit" value="削除する">
</div> -->

<form id="chat-form">
    <input id="chat-input" type="text"　placeholder="メッセージ">
    <input type="submit" value="送信" id="click">
</form>

<script type="module" src="https://cdn.jsdelivr.net/gh/tracker1/node-uuid4/browser.mjs"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/javascripts/chats/socket.js"></script>

<style>
    .msgResponser{
        display: none;
    }
    .selfMsgResponser{
        display: none;
    }
    .updateForm {
        display: none;
    }
    .show{
        display: flex;
        opacity: 1;
    }
</style>